/* Base Application Styles */


body {
  color: #fff;
  background:url(https://raw.github.com/mmoustafa/Chalkboard/master/img/bg.png);
  overflow-x: hidden;
}

.header {
  text-align: center;
  padding-top: 20px;
}

.game-port {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 800px;
  margin-left: -300px;
  margin-top: -360px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.score {
  bottom: 0px;
  width: 100%;
  height: 25%
}

.restart-overlay {
  height: 75%;
  width: 100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:9999;
  background-color: rgba(0,0,0,0.2);
}

.board {
  height: 75%;
  width: 90%;
}


.row {
  height: 33%;
}

.square {
  height: 100%;
}

.square.top {
    border-bottom-style: solid;
}

.square.bottom {
    border-top-style: solid;
}

.square.left {
    clear: both;
    border-right-style: solid;
}

.square.right {
    border-left-style: solid;
}

.score.row {
  width: 100%;
  height: 100%;
  margin-left: 0px;
}

.score-container {
  text-align: center;
}