/* Base Application Styles */


body {
  color: #fff;
  background:url(https://raw.github.com/mmoustafa/Chalkboard/master/img/bg.png);
  overflow-x: hidden;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.game-port {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-left: -300px;
  margin-top: -360px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.restart-overlay {
  height: 100%;
  width: 100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:9999;
}

.board {
  height: 100%;
  width: 100%;
}


.row {
  height: 33%;
}

.square {
  height: 100%;
}

.square.top {
    border-bottom-style: solid;
}

.square.bottom {
    border-top-style: solid;
}

.square.left {
    clear: both;
    border-right-style: solid;
}

.square.right {
    border-left-style: solid;
}
